<a href="https://colab.research.google.com/github/adeviney/credit-card-fraud/blob/main/DataSelection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2, Part 1
- Alexis Deviney

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

## Dataset 1 - Credit Card Fraud

In [14]:
df = pd.read_csv('/content/drive/MyDrive/Coding Dojo Bootcamp/Project 2/creditcard[1].csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

### Source of Data

Kaggle - https://www.kaggle.com/mlg-ulb/creditcardfraud

### Brief description of the data

The dataset contains transactions made by credit cards in September 2013 by European cardholders.
This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, … V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-sensitive learning. Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

Given the class imbalance ratio, we recommend measuring the accuracy using the Area Under the Precision-Recall Curve (AUPRC). Confusion matrix accuracy is not meaningful for unbalanced classification.

### What is the target?

The target is 'Class,' i.e. whether the transaction is fraduluent or not.

### Is this a classification or regresion problem?

Classification

### How many features?

In [15]:
df.shape[1] - 1

30

### How many rows of data?

In [16]:
df.shape[0]

284807

### What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?

It will be a challenge to draw conclusions based on the lack of information about the features, since they are transformed with PCA transformation to ensure confidentality. 

After brief research into algoirthms to detect fraud, it seems that "K-means clustering" or "SVM" can be used for data-preprocessing and classification. These have not been covered in the course (and I don't know if they will be), so I can foresee a challenge in learning how to use these.

## Dataset 2 - Telco Customer Retention

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Coding Dojo Bootcamp/Project 2/WA_Fn-UseC_-Telco-Customer-Churn[1].csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### 1. Source of Data

Kaggle (https://www.kaggle.com/blastchar/telco-customer-churn)

### 2. Brief description of data

Each row represents a customer, each column contains customer’s attributes

The data set includes information about:

* Customers who left within the last month – the column is called Churn
* Services that each customer has signed up for – phone, multiple lines, internet, online security, online backup, device protection, tech support, and streaming TV and movies
* Customer account information – how long they’ve been a customer, contract, payment method, paperless billing, monthly charges, and total charges
* Demographic info about customers – gender, age range, and if they have partners and dependents

### 3. What is the target?

The "churn" column, or whether or not the customers have left in the last month

### 4. Is this a classification or regression problem?

Classification

### 5. How many features?

In [8]:
df.shape[1] - 1

20

There are 20 features in the dataset; however, upon first glance, the "CustomerID" column could probably be dropped, so realistically there are 19 features.

### 6. How many rows of data?

In [9]:
df.shape[0]

7043

There are 7043 rows of data.

### 7. What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?

N/A. I do not foresee any challenges at the moment, but admittedly, I have only done a cursory glance of the column names and the data. It seems pretty straightforward.